<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.customer.dao">
	<sql id="columnsAs">
		t1.id, t1.cus_num, t1.cus_name, t1.cus_type, t1.has_credit, t1.credit_amount, t1.create_date, t1.default_address
	</sql>
	
	<select id="selectCustomerPage" resultType="com.selin.store.customer.entity.CustomerVo">
		select
		<include refid="columnsAs"/>
		from
		w_customer t1
		join
		(SELECT
		id
		from
		w_customer
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectCustomerCount" resultType="java.lang.Long">
		select
		count(id)
		from w_customer
		where 1=1
		<include refid="conds" />
	</select>
</mapper>