<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.invoice.dao">
	<sql id="columnsAs">
		t1.id, t1.invoice_type, t1.heard, t1.taxpayer_num, t1.address, t1.tel, t1.bank, t1.card_num, t1.cus_id
	</sql>
	
	<select id="selectInvoicePage" resultType="com.selin.store.invoice.entity.InvoiceVo">
		select
		<include refid="columnsAs"/>
		from
		w_invoice t1
		join
		(SELECT
		id
		from
		w_invoice
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectInvoiceCount" resultType="java.lang.Long">
		select
		count(id)
		from w_invoice
		where 1=1
		<include refid="conds" />
	</select>
</mapper>