<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.inventory.dao">

	<sql id="columns">
		id, pro_norms_id, unit, warehouse_id, warehouse_code, num, upper_limit, lower_limit, mini_num
	</sql>
	<sql id="vals">
		#{id}, #{pro_norms_id}, #{unit}, #{warehouse_id}, #{warehouse_code}, #{num}, #{upper_limit}, #{lower_limit}, #{mini_num}
	</sql>
	<sql id="conds">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="pro_norms_id != null">
			and pro_norms_id = #{pro_norms_id}
		</if>
		<if test="unit != null and unit != ''">
			and unit = #{unit}
		</if>
		<if test="warehouse_id != null">
			and warehouse_id = #{warehouse_id}
		</if>
		<if test="warehouse_code != null and warehouse_code != ''">
			and warehouse_code = #{warehouse_code}
		</if>
		<if test="num != null">
			and num = #{num}
		</if>
		<if test="upper_limit != null and upper_limit != ''">
			and upper_limit = #{upper_limit}
		</if>
		<if test="lower_limit != null and lower_limit != ''">
			and lower_limit = #{lower_limit}
		</if>
		<if test="mini_num != null">
			and mini_num = #{mini_num}
		</if>
	</sql>

	<insert id="saveInventory" parameterType="com.selin.store.inventory.entity.Inventory" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into w_inventory (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteInventory">
		delete from w_inventory
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleInventory">
		delete from w_inventory
		where 1=1
		<include refid="conds" />
	</delete>

	<update id="updateInventory">
		update w_inventory
		<set>
			id=#{id}, 
			pro_norms_id=#{pro_norms_id}, 
			unit=#{unit}, 
			warehouse_id=#{warehouse_id}, 
			warehouse_code=#{warehouse_code}, 
			num=#{num}, 
			upper_limit=#{upper_limit}, 
			lower_limit=#{lower_limit}, 
			mini_num=#{mini_num}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullInventory">
		update w_inventory
		<set>
		<if test="id != null and id != ''">
			id=#{id}, 
		</if>
		<if test="pro_norms_id != null and pro_norms_id != ''">
			pro_norms_id=#{pro_norms_id}, 
		</if>
		<if test="unit != null and unit != ''">
			unit=#{unit}, 
		</if>
		<if test="warehouse_id != null and warehouse_id != ''">
			warehouse_id=#{warehouse_id}, 
		</if>
		<if test="warehouse_code != null and warehouse_code != ''">
			warehouse_code=#{warehouse_code}, 
		</if>
		<if test="num != null and num != ''">
			num=#{num}, 
		</if>
		<if test="upper_limit != null and upper_limit != ''">
			upper_limit=#{upper_limit}, 
		</if>
		<if test="lower_limit != null and lower_limit != ''">
			lower_limit=#{lower_limit}, 
		</if>
		<if test="mini_num != null and mini_num != ''">
			mini_num=#{mini_num}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleInventory">
		update w_inventory
		<set>
			<if test="id != null and id != ''">
			id=#{id}, 
			</if>
			<if test="pro_norms_id != null and pro_norms_id != ''">
			pro_norms_id=#{pro_norms_id}, 
			</if>
			<if test="unit != null and unit != ''">
			unit=#{unit}, 
			</if>
			<if test="warehouse_id != null and warehouse_id != ''">
			warehouse_id=#{warehouse_id}, 
			</if>
			<if test="warehouse_code != null and warehouse_code != ''">
			warehouse_code=#{warehouse_code}, 
			</if>
			<if test="num != null and num != ''">
			num=#{num}, 
			</if>
			<if test="upper_limit != null and upper_limit != ''">
			upper_limit=#{upper_limit}, 
			</if>
			<if test="lower_limit != null and lower_limit != ''">
			lower_limit=#{lower_limit}, 
			</if>
			<if test="mini_num != null and mini_num != ''">
			mini_num=#{mini_num}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>
	
	<select id="loadInventory" resultType="com.selin.store.inventory.entity.InventoryVo">
		select 
		<include refid="columns"/>
		from w_inventory
		where id=#{id} 
	</select>
	
	<select id="selectInventory" resultType="com.selin.store.inventory.entity.InventoryVo">
		select 
		<include refid="columns"/>
		from w_inventory
		where 1=1
		<include refid="conds" />
	</select>
</mapper>