<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.product.dao">
	<sql id="columnsAs">
		t1.id, t1.name, t1.code, t1.brand_id, t1.supplier_id, t1.is_oneself, t1.category_id, t1.cost_price, t1.retail_price, t1.minimum_price, t1.accessory, t1.state, t1.keyword, t1.minimum_num
	</sql>
	
	<select id="selectProductPage" resultType="com.selin.store.product.entity.ProductVo">
		select
		<include refid="columnsAs"/>
		from
		w_product t1
		join
		(SELECT
		id
		from
		w_product
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectProductCount" resultType="java.lang.Long">
		select
		count(id)
		from w_product
		where 1=1
		<include refid="conds" />
	</select>

	<sql id="id_name" >
		(SELECT NAME FROM w_brand where id = brand_id) as brand_name,
		(SELECT NAME FROM w_supplier WHERE id = supplier_id) AS supplier_name,
		(SELECT NAME FROM w_category WHERE id = category_id) AS category_name
	</sql>

	<select id="selectProductNormsPage_" resultType="com.selin.store.product.entity.ProductVo">
		SELECT
		<include refid="columnsAs"/>
		,n.colour,n.size,
		<include refid="id_name" />
		FROM
		w_product t1
		LEFT JOIN w_product_norms n
		ON t1.id = n.product_id
		where 1=1
		<include refid="conds" />
		order by id desc
	</select>

	<select id="selectProductNormsCount_" resultType="java.lang.Long">
		SELECT
		count(t1.id)
		FROM
		w_product t1
		LEFT JOIN w_product_norms n
		ON t1.id = n.product_id
		where 1=1
		<include refid="conds" />
	</select>

	<select id="selectProductNormsList" resultType="com.selin.store.product.entity.ProductVo">
		SELECT
		<include refid="columnsAs"/>
		,n.colour,n.size,
		<include refid="id_name" />
		FROM
		w_product t1
		LEFT JOIN w_product_norms n
		ON t1.id = n.product_id
		LEFT JOIN w_inventory i ON n.id = i.pro_norms_id
		where 1=1
		<include refid="conds" />
		order by id desc
	</select>


	<select id="selectProductNormsStockPage" resultType="com.selin.store.product.entity.ProductVo">
		SELECT
		<include refid="columnsAs"/>
		,n.colour,n.size,i.num,i.warehouse_id,i.warehouse_code,
		<include refid="id_name" />
		FROM
		w_product t1
		LEFT JOIN w_product_norms n
		ON t1.id = n.product_id
		LEFT JOIN w_inventory i ON n.id = i.pro_norms_id
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}
	</select>

	<select id="selectProductNormsStockCount" resultType="java.lang.Long">
		SELECT
		count(t1.id)
		FROM
		w_product t1
		LEFT JOIN w_product_norms n
		ON t1.id = n.product_id
		LEFT JOIN w_inventory i ON n.id = i.pro_norms_id
		where 1=1
		<include refid="conds" />
	</select>


	<select id="selectProductInfoByNormsId" resultType="com.selin.store.product.entity.ProductVo">
		SELECT
		<include refid="columnsAs"/>
		,n.colour,n.size,
		<include refid="id_name" />
		FROM
		w_product t1
		LEFT JOIN w_product_norms n
		ON t1.id = n.product_id
		where 1=1
		and n.id = #{norms_id}
	</select>


</mapper>