<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.norms.dao">
	<sql id="columnsAs">
		t1.id, t1.product_id, t1.colour, t1.size
	</sql>
	
	<select id="selectProductNormsPage" resultType="com.selin.store.norms.entity.ProductNormsVo">
		select
		<include refid="columnsAs"/>
		from
		w_product_norms t1
		join
		(SELECT
		id
		from
		w_product_norms
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectProductNormsCount" resultType="java.lang.Long">
		select
		count(id)
		from w_product_norms
		where 1=1
		<include refid="conds" />
	</select>

	<delete id="deleteProductNormsByProductId">
		delete from w_product_norms
		where product_id=#{product_id}
	</delete>

</mapper>