<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.orderevent.dao">

	<sql id="columns">
		id, order_num, event_type, event_code, event, event_name, create_date, reamrk, create_user_id
	</sql>
	<sql id="vals">
		#{id}, #{order_num}, #{event_type}, #{event_code}, #{event}, #{event_name}, #{create_date}, #{reamrk}, #{create_user_id}
	</sql>
	<sql id="conds">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="order_num != null and order_num != ''">
			and order_num = #{order_num}
		</if>
		<if test="event_type != null and event_type != ''">
			and event_type = #{event_type}
		</if>
		<if test="event_code != null and event_code != ''">
			and event_code = #{event_code}
		</if>
		<if test="event != null and event != ''">
			and event = #{event}
		</if>
		<if test="event_name != null and event_name != ''">
			and event_name = #{event_name}
		</if>
		<if test="create_date != null">
			and create_date = #{create_date}
		</if>
		<if test="reamrk != null and reamrk != ''">
			and reamrk = #{reamrk}
		</if>
		<if test="create_user_id != null">
			and create_user_id = #{create_user_id}
		</if>
	</sql>

	<insert id="saveOrderEvent" parameterType="com.selin.store.orderevent.entity.OrderEvent" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into w_order_event (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteOrderEvent">
		delete from w_order_event
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleOrderEvent">
		delete from w_order_event
		where 1=1
		<include refid="conds" />
	</delete>

	<update id="updateOrderEvent">
		update w_order_event
		<set>
			id=#{id}, 
			order_num=#{order_num}, 
			event_type=#{event_type}, 
			event_code=#{event_code}, 
			event=#{event}, 
			event_name=#{event_name}, 
			create_date=#{create_date}, 
			reamrk=#{reamrk}, 
			create_user_id=#{create_user_id}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullOrderEvent">
		update w_order_event
		<set>
		<if test="id != null">
			id=#{id}, 
		</if>
		<if test="order_num != null and order_num != ''">
			order_num=#{order_num}, 
		</if>
		<if test="event_type != null and event_type != ''">
			event_type=#{event_type}, 
		</if>
		<if test="event_code != null and event_code != ''">
			event_code=#{event_code}, 
		</if>
		<if test="event != null and event != ''">
			event=#{event}, 
		</if>
		<if test="event_name != null and event_name != ''">
			event_name=#{event_name}, 
		</if>
		<if test="create_date != null">
			create_date=#{create_date}, 
		</if>
		<if test="reamrk != null and reamrk != ''">
			reamrk=#{reamrk}, 
		</if>
		<if test="create_user_id != null">
			create_user_id=#{create_user_id}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleOrderEvent">
		update w_order_event
		<set>
			<if test="id != null">
			id=#{id}, 
			</if>
			<if test="order_num != null and order_num != ''">
			order_num=#{order_num}, 
			</if>
			<if test="event_type != null and event_type != ''">
			event_type=#{event_type}, 
			</if>
			<if test="event_code != null and event_code != ''">
			event_code=#{event_code}, 
			</if>
			<if test="event != null and event != ''">
			event=#{event}, 
			</if>
			<if test="event_name != null and event_name != ''">
			event_name=#{event_name}, 
			</if>
			<if test="create_date != null">
			create_date=#{create_date}, 
			</if>
			<if test="reamrk != null and reamrk != ''">
			reamrk=#{reamrk}, 
			</if>
			<if test="create_user_id != null">
			create_user_id=#{create_user_id}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>
	
	<select id="loadOrderEvent" resultType="com.selin.store.orderevent.entity.OrderEventVo">
		select 
		<include refid="columns"/>
		from w_order_event
		where id=#{id} 
	</select>
	
	<select id="selectOrderEvent" resultType="com.selin.store.orderevent.entity.OrderEventVo">
		select 
		<include refid="columns"/>
		from w_order_event
		where 1=1
		<include refid="conds" />
	</select>
</mapper>