<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.orderevent.dao">
	<sql id="columnsAs">
		t1.id, t1.order_num, t1.event_type, t1.event_code, t1.event, t1.create_date, t1.reamrk, t1.create_user_id
	</sql>
	
	<select id="selectOrderEventPage" resultType="com.selin.store.orderevent.entity.OrderEventVo">
		select
		<include refid="columnsAs"/>
		from
		w_order_event t1
		join
		(SELECT
		id
		from
		w_order_event
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectOrderEventCount" resultType="java.lang.Long">
		select
		count(id)
		from w_order_event
		where 1=1
		<include refid="conds" />
	</select>
</mapper>