<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.receiveaddress.dao">
	<sql id="columnsAs">
		t1.id, t1.cus_id, t1.cus_num, t1.cus_name, t1.receive_name, t1.passcode, t1.tel, t1.address
	</sql>
	
	<select id="selectReceiveAddressPage" resultType="com.selin.store.receiveaddress.entity.ReceiveAddressVo">
		select
		<include refid="columnsAs"/>
		from
		w_receive_address t1
		join
		(SELECT
		id
		from
		w_receive_address
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectReceiveAddressCount" resultType="java.lang.Long">
		select
		count(id)
		from w_receive_address
		where 1=1
		<include refid="conds" />
	</select>
</mapper>