<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.warehouse.dao">
	<sql id="columnsAs">
		t1.id, t1.code, t1.name, t1.address, t1.area_id
	</sql>
	
	<select id="selectWarehousePage" resultType="com.selin.store.warehouse.entity.WarehouseVo">
		select
		<include refid="columnsAs"/>
		from
		w_warehouse t1
		join
		(SELECT
		id
		from
		w_warehouse
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectWarehouseCount" resultType="java.lang.Long">
		select
		count(id)
		from w_warehouse
		where 1=1
		<include refid="conds" />
	</select>
</mapper>