<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selin.store.category.dao">
	<sql id="columnsAs">
		t1.id, t1.name, t1.level, t1.state, t1.parent_id, t1.is_leaf
	</sql>
	
	<select id="selectCategoryPage" resultType="com.selin.store.category.entity.CategoryVo">
		select
		<include refid="columnsAs"/>
		from
		w_category t1
		join
		(SELECT
		id
		from
		w_category
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectCategoryCount" resultType="java.lang.Long">
		select
		count(id)
		from w_category
		where 1=1
		<include refid="conds" />
	</select>
</mapper>